<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page -->
    <title>@ViewData["Title"] - StockManagement</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/lib/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/lib/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/lib/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/lib/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/lib/animsition/animsition.min.css" rel="stylesheet" media="all">    
    <link href="~/lib/vendor/wow/animate.css" rel="stylesheet" media="all">    
    <link href="~/lib/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">

    @RenderSection("Css", required: false)

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">

</head>
<body class="animsition">
    <div class="page-wrapper">        
        <partial name="_Sidebar"/>

        <div class="page-container">  
            <main class="main-container">
                <partial name="_HeaderDesktop"/>
                <partial name="_Breadcrumb"/>
            
                @RenderBody()        

                <section class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © @( new DateTime().Year ) Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>            
        </div>
    </div>               
    
    <!-- Jquery JS-->
    <script src="~/lib/jquery-3.2.1.min.js"></script>
    
    <!-- Bootstrap JS-->
    <script src="~/lib/bootstrap-4.1/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.1/bootstrap.min.js"></script>

    <!-- Vendor JS       -->
    <script src="~/lib/slick/slick.min.js">
    </script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/animsition/animsition.min.js"></script>                
    <script src="~/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    
    @RenderSection("Scripts", required: false)

    <!-- Main JS-->
    <script src="~/js/main.js"></script>
</body>
</html>
